In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(6,4),columns=list("ABCD"))
df.iloc[2:4,2:4] = np.nan
df.iloc[1,0:2] = np.nan
df

          A         B         C         D
0 -0.323262 -1.281065  1.199474  2.121828
1       NaN       NaN -0.337739 -0.082217
2  1.208822  0.474932       NaN       NaN
3 -1.467442  0.155873       NaN       NaN
4 -1.856260  1.116175 -0.037934  1.028386
5 -0.201312  0.429019  0.064620  0.691049

In [6]:
df.isnull()

       A      B      C      D
0  False  False  False  False
1   True   True  False  False
2  False  False   True   True
3  False  False   True   True
4  False  False  False  False
5  False  False  False  False

In [7]:
df.fillna({"A":0.5},inplace = True)
df["A"]

0   -0.323262
1    0.500000
2    1.208822
3   -1.467442
4   -1.856260
5   -0.201312
Name: A, dtype: float64

In [9]:
df["B"].fillna(method = "bfill")

0   -1.281065
1    0.474932
2    0.474932
3    0.155873
4    1.116175
5    0.429019
Name: B, dtype: float64

In [10]:
df["C"].fillna(method = "ffill")

0    1.199474
1   -0.337739
2   -0.337739
3   -0.337739
4   -0.037934
5    0.064620
Name: C, dtype: float64

In [12]:
df["D"][df["D"].isnull()] = df["D"].mean()
df["D"]

0    2.121828
1   -0.082217
2    0.939761
3    0.939761
4    1.028386
5    0.691049
Name: D, dtype: float64